.wrapper{
    padding: 20px;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.profilePicture{
    width: 100px;
    height: 100px;
    align-self: center;
    display: flex;
}
.profileName,.profileEmail{
    display: flex;
    justify-content: space-between;
}
.profileName button, .profileEmail button {
    background: none;
    border: none;
}
.profileName button:hover, .profileEmail button:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}
.nameLabel,.emailLabel {
    color: #56595b;
}
.srOnly {
  position: absolute;
  inset: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}