.searchInp:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.searchInp {
  font-size: 1rem;
  padding: 10px 5px 10px 40px;
  border-radius: 20px;
  border-width: 1px;
  background-color: #f5f5f5;
  width: 100%;
  border: 1px solid #00000021;
}

.searchInp:focus {
  outline: 2px solid #2196f3;
}

.searchWrapper {
  position: relative;
  width: 100%;
  min-width: 190px;
}

.searchWrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  width: clamp(1.2rem, 1vw, 1.6rem);
  height: clamp(1.2rem, 1vw, 1.6rem);
  left: 15px;
  pointer-events: none;
  background-image: url(../../../assets/search-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.searchResult {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.searchResult:hover {
  background-color: var(--color-hover);
}
.userPic {
  width: 50px;
  height: 50px;
  display: flex;
  flex-shrink: 0;
}
.userEmail {
  word-break: break-all;
  min-width: 200px;
}
.addUser {
  background: none;
  border: none;
  background-color: #42a5f5;
  color: white;
  border-radius: 4px;
}
.addUser:hover {
  cursor: pointer;
  background-color: #2e8bd5;
}

.addContactWrapper {
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: white;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
}
.addContactWrapper.show {
  opacity: 1;
  transform: translateX(0);
}

.resultWrapper {
  padding: 0;
  flex: 1;
  min-width: 0;
  overflow-y: auto;
}
.guestId {
  color: gray;
}

.backBtn {
  position: absolute;
  top: 0px;
  left: 10px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.25rem;
}
.backBtn:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}
.srOnly {
  position: absolute;
  inset: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}

