.searchInp:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.searchInp {
  font-size: 1rem;
  padding: 10px 5px 10px 40px;
  border-radius: 20px;
  border-width: 1px;
  background-color: #f5f5f5;
  width: 100%;
  border: 1px solid #00000021;
}

.searchInp:focus {
  outline: 2px solid #2196f3;
}

.searchWrapper {
  position: relative;
  width: 100%;
  min-width: 190px;
}

.searchWrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  width: clamp(1.2rem, 1vw, 1.6rem);
  height: clamp(1.2rem, 1vw, 1.6rem);
  left: 15px;
  pointer-events: none;
  background-image: url(../../../assets/search-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.searchResult {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.searchResult:hover {
  background-color: var(--color-hover);
}
.userPic {
  width: 50px;
  height: 50px;
  display: flex;
}
.userEmail {
  word-break: break-all;
  min-width: 200px;
}
.addUser {
  background: none;
  border: none;
  background-color: #42a5f5;
  color: white;
  border-radius: 4px;
}
.addUser:hover {
  cursor: pointer;
  background-color: #2e8bd5;
}

.addContactWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  max-height: 100vh;
}
.resultWrapper {
  padding: 0;
  flex: 1;
  min-width: 0;
  overflow-y: auto;
}
.addContactWrapper h2 {
  min-width: 350px;
}
.notificationWrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-250%);
  opacity: 0;
  width: 300px;
  padding: 10px;
  border: 1px solid #90caf9;
  box-shadow: 0 1px 4px #bbdefb;
  background-color: #bbdefb;
  transition: transform 0.5s;
}
.notificationWrapper.show {
  transform: translateX(-50%);
  opacity: 1;
}
.closePopup {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
}
.closePopup:hover {
  cursor: pointer;
}

@media (min-width: 2560px) {
  .searchInp {
    padding-left: 50px;
  }
  .searchWrapper::before {
    top: 15px;
  }
  .searchWrapper {
    max-width: 600px;
  }
}

@media (min-width: 3860px) {
  .searchInp {
    padding-left: 80px;
  }
  .searchWrapper {
    max-width: 800px;
  }
}
