.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.loginBody,
.signupBody {
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.logo,.pageHeader {
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color:#2196f3;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.createAccLink {
  text-align: center;
}
.inpContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 350px;
  width: 100%;
}
.error{
  color: red;
}
.guestLogin{
  background-color: #f5f5f5;
    color: #111111;
    appearance: none;
    border: none;
    max-width: fit-content;
    padding: 10px;
    align-self: center;
}
.guestLogin svg{
  vertical-align: -5px;
}
.guestLogin:hover {
  background-color: #bae6fd;
  cursor: pointer;
}

@media (max-width: 680px) {
  .loginBody,
  .signupBody {
    width: 80%;
  }
}


@media (min-width: 2560px) {
.loginBody,
  .signupBody {
    max-width: 900px;
  }
  .inpContainer{
    max-width: 500px;
  }
}


@media (min-width: 3840px) {
.loginBody,
  .signupBody {
    max-width: 1200px;
  }
  .inpContainer{
    max-width: 700px;
  }
}


