.chatWrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  grid-template-areas:
    "contactlist chatwindow";
}

main{
  grid-area: chatwindow;
  display: flex;
}

.contactList {
  grid-area: contactlist;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navContactList{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chatWindow {
  flex: 1;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
}
.optionsUserWrapper{
  display: flex;
  justify-content: space-between;
}
.window{
  height: 100%;
}

.users{
  list-style-type: none;
  padding: 0;
}

.srOnly{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
}

.activeContact{
  background-color: var(--color-hover);
}