.chatWrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 60px 0.35fr 1fr;
  grid-template-areas: "sidebar contactlist chatwindow";
}

main {
  grid-area: chatwindow;
  display: flex;
  max-height: 100vh;
}

.contactList {
  grid-area: contactlist;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
}

.navContactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
      flex: 1;
    min-height: 0;
}

.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.optionsUserWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
.window {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.users {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.users li {
  display: flex;
  margin: 0 10px;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
}

.activeContact {
  background-color: var(--color-hover);
}
