.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  padding: var(--space-sm);
}
.onlineStatus {
  color: var(--color-faded);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}
.name {
  font-size: 1rem;
  font-weight: 600;
}
.userImg{
  width: 50px;
  height: 50px;
  display: flex;
}
.groupImg{
    display: flex;
  flex: 1;
  border-radius: 50%;
  border: 1px solid #9e9e9e80;
  padding: 5px;
  background-color: #eeeeee;
  color: #000000a8;
}
.dot{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 3px;
}
.dot.online {
  background-color: #4CAF50;
}
.dot.offline {
  background-color: red;
}
.chatWindowHeader{
  display: flex;
  gap: 5px;
}
.guestId{
  color: gray;
}
@media (min-width:2560px) {
  .userImg{
    width: 78px;
  height: 78px;
  }
}

@media (min-width:3840px) {
  .userImg{
    width: 130px;
  height: 130px;
  }
}