.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  padding: var(--space-lg);
}
.onlineStatus {
  color: var(--color-faded);
  font-size: 1rem;
}
.name {
  font-size: 1.5rem;
  font-weight: 600;
}
.userImg{
  min-width: 80px;
  display: flex;
}

@media (min-width:2560px) {
  .userImg{
    width: 78px;
  height: 78px;
  }
}

@media (min-width:3840px) {
  .userImg{
    width: 130px;
  height: 130px;
  }
}