.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  padding: var(--space-sm);
}
.onlineStatus {
  color: var(--color-faded);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}
.name {
  font-size: 1rem;
  font-weight: 600;
}
.userImg{
  min-width: 50px;
  display: flex;
}
.dot{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.dot.online {
  background-color: #4CAF50;
}
.dot.offline {
  background-color: red;
}

@media (min-width:2560px) {
  .userImg{
    width: 78px;
  height: 78px;
  }
}

@media (min-width:3840px) {
  .userImg{
    width: 130px;
  height: 130px;
  }
}