.wrapper {
  position: relative;
  bottom: 0;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding-right: 70px;
  padding-top: 10px;
  padding-left: 55px;
  padding-bottom: 10px;
}

.msgInput {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  padding-bottom: 5px;
  line-height: 1.5;
  padding-right: 5px;
}
.sendBtn:hover {
  cursor: pointer;
}
.sendBtn {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 5px;
  margin: 0;
  padding: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendBtn:disabled{
  opacity: 0.6;
}
.emojiBtn {
  position: absolute;
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 5px;
  left: 15px;
}
.emojiBtn:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.emojiWrapper{
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  left: 0;
}

@media (max-width:350px) {
  .msgInput{
    max-width: 160px;
  }
}