/*Styling others message*/
.chatBubble {
  display: flex;
  position: relative;
  z-index: 1;
  padding-left: var(--space-bubble);
  width: fit-content;
}

.message {
  color: black;
  width: fit-content;
  position: relative;
}
.msgWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 15px solid white;
}
/*Styling curUser messages*/

.msgWrapper.curUser {
  background-color: #90caf9;
  color: black;
}
.chatBubble.curUser {
  align-self: flex-end;
  padding-right: var(--space-bubble);
  padding-left: 0;
}
.msgWrapper.curUser::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 15px solid #90caf9;
  inset: unset;
  top: 0;
  right: -4px;
}
.msgWrapper {
  position: relative;
  margin-left: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.messageDate {
  color: #404658;
  font-size: var(--font-xs);
  align-self: flex-end;
}
