.wrapper {
  position: relative;
  bottom: 0;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding-right: 70px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.msgInput {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  padding-bottom: 5px;
  line-height: 1.5;
  padding-right: 20px;
}
.sendBtn:hover {
  cursor: pointer;
}
.sendBtn {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 5px;
  margin: 0;
  padding: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 2560px) {
  .sendBtn svg {
    width: 40px !important;
    height: 40px !important;
  }
  .msgInputWrapper {
    padding-right: 90px;
  }
}

@media (min-width: 3840px) {
  .sendBtn {
    bottom: 10px;
  }
   .msgInputWrapper {
    padding-right: 110px;
  }
  .sendBtn svg {
    width: 60px !important;
    height: 60px !important;
  }
}
