.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  padding: var(--space-lg);
}
.lastOnline {
  color: var(--color-faded);
  font-size: var(--font-sm);
}
.name {
  font-size: 1rem;
  font-weight: 600;
}