.windowbg {
  height: 100%;
  position: relative;
}
.windowbg.notActive {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notActiveWrapper {
  background-color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.5rem;
}
.windowbg.active {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  gap: 20px;
  justify-content: flex-end;
}
.windowbg::before {
  content: "";
  position: absolute;
  background-color: #8babd8;
  background-image: url("https://twallpaper.js.org/patterns/math.svg");
  background-repeat: repeat;
  background-size: 400px;
  inset: 0;
  opacity: 0.6;
  z-index: 0;
}

@media (min-width: 3840px) {
  .windowbg {
    padding-bottom: 150px;
  }
}
