.windowbg {
  height: 100%;
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  gap: 20px;
  justify-content: flex-end;
}

.windowbg::before {
  content: "";
  position: absolute;
  background-color: #8babd8;
  background-image: url("https://twallpaper.js.org/patterns/math.svg");
  inset: 0;
  opacity: 0.6;
  z-index: 0;
}


@media (min-width:3840px){
  .windowbg{
    padding-bottom: 150px;
  }
}