.windowbg {
  position: relative;
  flex: 1;
  min-height: 0;
}
.windowbg.notActive {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notActiveWrapper {
  background-color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.5rem;
}
.windowbg.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.windowbg::before {
  content: "";
  position: absolute;
  background-color: #BBDEFB;
  background-image: url("../../../assets/math.svg");
  background-repeat: repeat;
  background-size: 400px;
  inset: 0;
  opacity: 0.5;
  z-index: 0;
}
.ScrollWrapper{
  overflow-y: auto;
  flex: 1;
  position: relative;
  min-height: 0;
}
.flexWrapper{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
}
/*Styling scrollbar inside chat*/
.ScrollWrapper::-webkit-scrollbar {
  width: 6px;
}

.ScrollWrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ScrollWrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.ScrollWrapper {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}


@media (min-width: 3840px) {
  .windowbg {
    padding-bottom: 150px;
  }
}
