.notificationWrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #bbdefb;
  color: #333;
  padding: 12px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  opacity: 0;
  z-index: 3;
  animation: 5s notification-slide-in 1 ease;
}


@keyframes notification-slide-in {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  25% {
    transform: translateX(50px);
    opacity: 1;
  }

  75% {
    transform: translateX(50px);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
.closePopup {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
}
.closePopup:hover {
  cursor: pointer;
}