.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  background: none;
  border: none;
  text-align: left;
  padding: clamp(8px, 0.7vw, 16px);
  flex-grow: 1;
}

.lastMsg,
.lastMsgDate {
  color: var(--color-faded);
  font-size: var(--font-sm);
}
.lastMsg {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  text-wrap: nowrap;
}

.name {
  color: #011627;
  font-weight: 600;
}

.userContactWrapper:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.userImg {
  width: 48px;
  height: 48px;
  display: flex;
  flex-shrink: 0;
}

.nameWrapper {
  width: 100%;
}
.guestId{
  color: gray;
}
.nameDateWrapper {
  display: flex;
  justify-content: space-between;
}



.groupImg {
  display: flex;
  flex: 1;
  border-radius: 50%;
  border: 1px solid #9e9e9e80;
  padding: 5px;
  background-color: #eeeeee;
  color: #000000a8;
}
