.searchInp:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.searchInp {
  font-size: 1rem;
  padding: 10px 5px 10px 40px;
  border-radius: 20px;
  border-width: 1px;
  background-color: #f5f5f5;
  width: 100%;
  border: 1px solid #00000021;
}

.searchInp:focus {
  outline: 2px solid #2196f3;
}

.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 190px;
}

.searchWrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  width: clamp(1.2rem, 1vw, 1.6rem);
  height: clamp(1.2rem, 1vw, 1.6rem);
  left: 15px;
  pointer-events: none;
  background-image: url(../../../assets/search-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.searchResultsWrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  z-index: 2;
  box-shadow: -7px 12px 20px #0000003b;
  padding: 10px;
  border: 1px solid #00000012;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
}
.searchResultsWrapper.active {
  display: block;
}
.searchResultsWrapper ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.searchResult {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.searchResult:hover {
  background-color: var(--color-hover);
}
.userPic {
  width: 40px;
  height: 22px;
}
.userEmail {
  word-break: break-all;
  min-width: 200px;
}
.addUser {
  background: none;
  border: none;
  background-color: #42a5f5;
  color: white;
  border-radius: 4px;
}
.addUser:hover {
  cursor: pointer;
  background-color: #2e8bd5;
}

@media (min-width: 2560px) {
  .searchInp {
    padding-left: 50px;
  }
  .searchWrapper::before {
    top: 15px;
  }
  .searchWrapper {
    max-width: 600px;
  }
}

@media (min-width: 3860px) {
  .searchInp {
    padding-left: 80px;
  }
  .searchWrapper {
    max-width: 800px;
  }
}
