.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: clamp(8px, 0.7vw, 16px);
}

.lastMsg,
.lastMsgDate {
  color: var(--color-faded);
  font-size: var(--font-sm);
}

.name {
  color: #011627;
  font-weight: 600;
}

.userContactWrapper:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.userImg {
  width: 48px;
  height: 48px;
}

.nameWrapper {
  width: 100%;
}

.nameDateWrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 2560px) {
  .lastMsg,
  .lastMsgDate {
    font-size: 24px;
  }
  .userImg {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 3840px) {
  .lastMsg,
  .lastMsgDate {
    font-size: 36px;
  }
  .userImg {
    width: 100px;
    height: 100px;
  }
}

