.userContactWrapper {
  display: flex;
  gap: var(--space-g10);
  padding: var(--space-lg);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}

.lastMsg,.lastMsgDate {
  color: var(--color-faded);
  font-size: var(--font-sm);
}

.name {
  color: #011627;
  font-weight: 600;
}

.userContactWrapper:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.nameWrapper{
  width: 100%;
}

.nameDateWrapper{
  display: flex;
  justify-content: space-between;
}