.backBtn {
  position: absolute;
  top: 0;
  left: 10px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 5px;
}
.backBtn:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}
.srOnly {
  position: absolute;
  inset: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
.groupNameInp {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.groupIcon {
  width: 100px;
  height: 100px;
  border: 1px solid #9e9e9ec9;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
}
.submitBtn {
  background: #03a9f4;
  color: white;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  padding-top: 5px;
}
.submitBtn:hover {
    cursor: pointer;
}
.submitBtn:disabled{
    opacity: 0.5;
}