*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: clamp(16px, 0.9vw, 22px);
  color:black;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  background-color: white;
}

input,
button,
textarea,
select {
  font: inherit;
}




/*Variables declaration*/
:root {
  /*Space*/
  --space-xl:20px;
  --space-sm:8px;
  --space-xs:4px;
  --space-md:12px;
  --space-lg:16px;
  --space-g10:10px;
  --space-bubble:30px;

  /*Color*/
  --color-faded: #707991;
  --color-hover:#F5F5F5;
  --color-hover-sidebar:#e8e8e8;
  --color-logout:#ef9a9a66;
  /*Font*/
  --font-sm:14px;
  --font-xs:12px;

  /*SVG*/
  --menu-icon-size: 20px
}
