.sidebar {
  background-color: rgb(247, 245, 243);
  display: flex;
  flex: 1;
}
.list {
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding: 20px 0;
  gap: 5px;
  justify-content: space-between;
}
.list .top {
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.listItem button {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
}
.listItem button:hover {
  background-color: var(--color-hover-sidebar);
  cursor: pointer;
}
.listItem button.clicked{
  background-color: var(--color-hover-sidebar);
}
.listItem .logoutBtn:hover{
    background-color: var(--color-logout);
}
.chatsIcon,.profileIcon,.logoutIcon{
  vertical-align: -5px;
}

@media (max-width: 750px) {
  .list {
    flex-direction: row;
    justify-content: center;
  }
  .list .top{
    display: flex;
    flex-direction: row;
  }
}